Repository PetCampus-Inc/daeng_v2_front, pull requests merged in 2025-07, with the labels that each got.

#90 refactor(knockdog, ui): 검색 필터 리팩터링 및 UI 컴포넌트 개선
  apps/knockdog/app/(home)/page.tsx
  apps/knockdog/app/layout.tsx
  apps/knockdog/app/test/page.tsx
  apps/knockdog/package.json
  apps/knockdog/src/app/providers/OverlayProvider.tsx
  apps/knockdog/src/entities/search-filter/config/constant.ts
  apps/knockdog/src/entities/search-filter/index.ts
  apps/knockdog/src/features/search-filter/hooks/useSearchFilter.ts
  apps/knockdog/src/features/search-filter/index.ts
  apps/knockdog/src/features/search-filter/ui/FilterBottomSheet.tsx
  apps/knockdog/src/features/search-filter/ui/FilterChip.tsx
  apps/knockdog/src/features/search-filter/ui/FilterList.tsx
  apps/knockdog/src/widgets/dogschool-list/ui/DogSchoolList.tsx
  apps/knockdog/src/widgets/dogschool-list/ui/DogSchoolListWidget.tsx
  packages/headless-ui/drawer/LICENSE.md
  packages/headless-ui/drawer/package.json
  packages/headless-ui/drawer/src/browser.ts
  packages/headless-ui/drawer/src/constants.ts
  packages/headless-ui/drawer/src/context.ts
  packages/headless-ui/drawer/src/helpers.ts
  packages/headless-ui/drawer/src/index.tsx
  packages/headless-ui/drawer/src/style.css
  packages/headless-ui/drawer/src/types.ts
  packages/headless-ui/drawer/src/use-composed-refs.ts
  packages/headless-ui/drawer/src/use-controllable-state.ts
  packages/headless-ui/drawer/src/use-position-fixed.ts
  packages/headless-ui/drawer/src/use-prevent-scroll.ts
  packages/headless-ui/drawer/src/use-scale-background.ts
  packages/headless-ui/drawer/src/use-snap-points.ts
  packages/headless-ui/drawer/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/action-button/ActionButton.tsx
  packages/ui/src/components/bottom-sheet/BottomSheet.namespace.ts
  packages/ui/src/components/bottom-sheet/BottomSheet.tsx
  packages/ui/src/components/float/Float.tsx
  packages/ui/src/components/floating-action-button/FloatingActionButton.tsx
  pnpm-lock.yaml
Labels: 🔧 refactor

#95 [KDDEV-95] 앱 진입 퍼블리싱
  apps/knockdog/app/(auth)/login/page.tsx
  apps/knockdog/app/permission/page.tsx
  packages/icons/scripts/extract-figma-icon/data/.icons-meta.json
  packages/icons/src/components/Alldogs.tsx
  packages/icons/src/components/Alram.tsx
  packages/icons/src/components/AppleLogo.tsx
  packages/icons/src/components/Babydelivery.tsx
  packages/icons/src/components/Camera.tsx
  packages/icons/src/components/CheckStroke.tsx
  packages/icons/src/components/Checklist.tsx
  packages/icons/src/components/ChevronBottom.tsx
  packages/icons/src/components/ChevronLeft.tsx
  packages/icons/src/components/ChevronRight.tsx
  packages/icons/src/components/ChevronTop.tsx
  packages/icons/src/components/CloseFill.tsx
  packages/icons/src/components/Currentlocation.tsx
  packages/icons/src/components/Female.tsx
  packages/icons/src/components/Filterdot.tsx
  packages/icons/src/components/Floor.tsx
  packages/icons/src/components/Frontyard.tsx
  packages/icons/src/components/Gallery.tsx
  packages/icons/src/components/GoogleLogo.tsx
  packages/icons/src/components/Home.tsx
  packages/icons/src/components/KakaoLogo.tsx
  packages/icons/src/components/King.tsx
  packages/icons/src/components/Largedog.tsx
  packages/icons/src/components/Male.tsx
  packages/icons/src/components/MinusFill.tsx
  packages/icons/src/components/MypageNav.tsx
  packages/icons/src/components/PickupFree.tsx
  packages/icons/src/components/Rooftop.tsx
  packages/icons/src/components/Salon.tsx
  packages/icons/src/components/Smalldog.tsx
  packages/icons/src/components/Time24.tsx
  packages/icons/src/components/TooltipLine.tsx
  packages/icons/src/components/Toyshop.tsx
  packages/icons/src/components/Trash.tsx
  packages/icons/src/components/Valet.tsx
  packages/icons/src/components/index.ts
  packages/ui/src/components/divider/Divider.tsx
Labels: 🎨 publishing

#100 feat/refactor(knockdog): 검색 필터 상태관리 기능 구현
  apps/knockdog/app/(home)/ui/MapBottomSheet.tsx
  apps/knockdog/app/layout.tsx
  apps/knockdog/package.json
  apps/knockdog/src/entities/dog-school/config/constant.ts
  apps/knockdog/src/entities/dog-school/index.ts
  apps/knockdog/src/entities/dog-school/model/mock.ts
  apps/knockdog/src/entities/dog-school/ui/CardClipDefs.tsx
  apps/knockdog/src/entities/dog-school/ui/DogSchoolImageSlider.tsx
  apps/knockdog/src/entities/dog-school/ui/FilterChip.tsx
  apps/knockdog/src/entities/dog-school/ui/FilterList.tsx
  apps/knockdog/src/entities/dogschool/config/constant.ts
  apps/knockdog/src/entities/dogschool/index.ts
  apps/knockdog/src/entities/search-filter/config/constant.ts
  apps/knockdog/src/entities/search-filter/index.ts
  apps/knockdog/src/features/dog-school/index.ts
  apps/knockdog/src/features/dog-school/model/useSearchFilter.ts
  apps/knockdog/src/features/dog-school/ui/CardBtnClipDefs.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolCard.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolList.tsx
  apps/knockdog/src/features/dog-school/ui/FilterBottomSheet.tsx
  apps/knockdog/src/features/dogschool-list/index.ts
  apps/knockdog/src/features/search-filter/hooks/useSearchFilter.ts
  apps/knockdog/src/features/search-filter/index.ts
  apps/knockdog/src/features/search-filter/ui/FilterChip.tsx
  apps/knockdog/src/features/search-filter/ui/FilterList.tsx
  apps/knockdog/src/widgets/dogschool-list/index.ts
  apps/knockdog/src/widgets/dogschool-list/ui/DogSchoolList.tsx
  apps/knockdog/src/widgets/dogschool-list/ui/DogSchoolListWidget.tsx
  pnpm-lock.yaml
Labels: ✨ feature, ♻️ refactor

#101 feat(knockdog): 유치원 탐색 화면 디테일 추가
  apps/knockdog/app/(home)/ui/MapBottomSheet.tsx
  apps/knockdog/public/images/img_location.png
  apps/knockdog/src/entities/dog-school/index.ts
  apps/knockdog/src/entities/dog-school/model/mock.ts
  apps/knockdog/src/entities/dog-school/ui/ServiceBadge.tsx
  apps/knockdog/src/entities/dog-school/ui/ServiceBadgeGroup.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolCard.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolEmptySection.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolList.tsx
  apps/knockdog/src/features/dog-school/ui/PermissionSection.tsx
  apps/knockdog/src/shared/lib/bottom-sheet/index.ts
  apps/knockdog/src/shared/lib/bottom-sheet/useBottomSheetSnapIndex.ts
  apps/knockdog/src/shared/lib/index.ts
  pnpm-lock.yaml
Labels: ✨ feature, D-3

#99 [Feature/kddev-95] 계정 연동 페이지 퍼블리싱
  apps/knockdog/app/(auth)/account-linking/[method]/page.tsx
  apps/knockdog/app/(auth)/account-linking/deleted-account/page.tsx
  apps/knockdog/app/(auth)/account-linking/page.tsx
  apps/knockdog/app/(auth)/login/page.tsx
  apps/knockdog/src/features/auth/index.ts
  apps/knockdog/src/features/auth/model/useVerificationTimer.ts
  apps/knockdog/src/widgets/Header/ui/Header.tsx
  apps/knockdog/src/widgets/Header/ui/HeaderWrapper.tsx
  packages/ui/src/components/text-field/TextField.tsx
Labels: ✨ feature

#102 fix(knockdog): container 높이 계산을 JS → CSS(calc) 방식으로 변경하여 렌더 타이밍 문제 해결
  apps/knockdog/app/(home)/ui/MapBottomSheet.tsx
Labels: 🐛 bug

#103 feat(ui): Alert Dialog UI 컴포넌트 추가
  packages/ui/package.json
  packages/ui/src/components/action-button/ActionButton.tsx
  packages/ui/src/components/action-button/index.ts
  packages/ui/src/components/alert-dialog/AlertDialog.stories.tsx
  packages/ui/src/components/alert-dialog/AlertDialog.tsx
  packages/ui/src/components/alert-dialog/index.ts
  packages/ui/src/components/bottom-sheet/BottomSheet.stories.tsx
  packages/ui/src/components/bottom-sheet/BottomSheet.tsx
  packages/ui/src/components/index.ts
  pnpm-lock.yaml
Labels: ✨ feature

#108 feat(knockdog): 유치원 탐색 정렬옵션 UI 컴포넌트 & React Portal 패키지 추가
  apps/knockdog/app/(home)/ui/MapBottomSheet.tsx
  apps/knockdog/package.json
  apps/knockdog/src/features/dog-school/ui/DogSchoolList.tsx
  apps/knockdog/src/features/dog-school/ui/SortSelect.tsx
  packages/headless-ui/portal/package.json
  packages/headless-ui/portal/src/index.ts
  packages/headless-ui/portal/src/portal.tsx
  packages/headless-ui/portal/tsconfig.json
  pnpm-lock.yaml
Labels: ✨ feature

#109 fix: 빌드 에러 수정
  apps/knockdog/app/company/[slug]/edit-checklist/page.tsx
  apps/knockdog/app/company/[slug]/page.tsx
  apps/knockdog/app/layout.tsx
  apps/knockdog/src/entities/dog-school/ui/DogSchoolImageSlider.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolList.tsx
  apps/knockdog/src/features/dog-school/ui/FilterBottomSheet.tsx
  apps/knockdog/src/features/dog-school/ui/PermissionSection.tsx
  apps/knockdog/src/shared/store/useSearchHistory.ts
  apps/knockdog/src/widgets/Header/ui/BackButton.tsx
  apps/knockdog/src/widgets/Header/ui/CloseButton.tsx
  apps/knockdog/src/widgets/Header/ui/Header.tsx
  apps/knockdog/src/widgets/Header/ui/HeaderExample.tsx
  apps/knockdog/src/widgets/Header/ui/HomeButton.tsx
  apps/knockdog/src/widgets/Header/ui/MenuButton.tsx
  apps/knockdog/src/widgets/Header/ui/ShareButton.tsx
  apps/knockdog/src/widgets/Header/ui/Title.tsx
  packages/config-eslint/next.js
Labels: 🐛 bug

#104 [Feature] 프로필 등록 페이지 퍼블리싱
  apps/knockdog/app/(auth)/account-linking/page.tsx
  apps/knockdog/app/(auth)/signup/complete/page.tsx
  apps/knockdog/app/(auth)/signup/complete/subscribe/page.tsx
  apps/knockdog/app/(auth)/signup/location/add/page.tsx
  apps/knockdog/app/(auth)/signup/location/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step1/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step2/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step3/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step4/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step5/page.tsx
  apps/knockdog/app/(auth)/signup/profile/nickname/page.tsx
  apps/knockdog/app/(auth)/signup/profile/page.tsx
  apps/knockdog/app/(auth)/signup/profile/pet-info/page.tsx
  apps/knockdog/app/(auth)/signup/profile/pet-info/relation/page.tsx
  apps/knockdog/app/company/[slug]/page.tsx
  apps/knockdog/app/permission/page.tsx
  apps/knockdog/src/widgets/Header/ui/HeaderWrapper.tsx
Labels: ✨ feature

#118 chore: `@kncokdog/icons` 아이콘 업데이트
  .github/workflows/deploy-preview.yml
  packages/icons/scripts/extract-figma-icon/config/index.js
  packages/icons/scripts/extract-figma-icon/data/.icons-meta.json
  packages/icons/src/components/AlarmFill.tsx
  packages/icons/src/components/AlarmLine.tsx
  packages/icons/src/components/AlarmLineActive.tsx
  packages/icons/src/components/Alram.tsx
  packages/icons/src/components/Bold.tsx
  packages/icons/src/components/CheckFill.tsx
  packages/icons/src/components/ChevronBottom.tsx
  packages/icons/src/components/Indentation.tsx
  packages/icons/src/components/Italic.tsx
  packages/icons/src/components/Location.tsx
  packages/icons/src/components/Minus.tsx
  packages/icons/src/components/MinusFill.tsx
  packages/icons/src/components/Size.tsx
  packages/icons/src/components/UnderBar.tsx
  packages/icons/src/components/index.ts
Labels: packages:icons

#121 refactor: BottomSheet UI 컴포넌트 레이아웃 개선
  packages/ui/src/components/bottom-sheet/BottomSheet.namespace.ts
  packages/ui/src/components/bottom-sheet/BottomSheet.stories.tsx
  packages/ui/src/components/bottom-sheet/BottomSheet.tsx
  packages/ui/src/styles/globals.css
Labels: packages:ui

#122 feat: 강아지 유치원 탐색 지도 퍼블리싱
  apps/knockdog/app/(auth)/signup/complete/subscribe/page.tsx
  apps/knockdog/app/(auth)/signup/profile/pet-info/relation/page.tsx
  apps/knockdog/app/(home)/page.tsx
  apps/knockdog/app/(home)/ui/MapBottomSheet.tsx
  apps/knockdog/app/layout.tsx
  apps/knockdog/app/permission/page.tsx
  apps/knockdog/src/features/dog-school/index.ts
  apps/knockdog/src/features/dog-school/model/useFabExtension.ts
  apps/knockdog/src/features/dog-school/ui/DeparturePointSheet.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolCard.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolCardSheet.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolList.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolListSheet.tsx
  apps/knockdog/src/features/dog-school/ui/FilterBottomSheet.tsx
  apps/knockdog/src/features/dog-school/ui/PhoneCallSheet.tsx
  apps/knockdog/src/features/dog-school/ui/ServiceBadgeGroup.tsx
  apps/knockdog/src/features/map/index.ts
  apps/knockdog/src/features/map/ui/ClusterMarker.tsx
  apps/knockdog/src/features/map/ui/CurrentLocationDisplayFAB.tsx
  apps/knockdog/src/features/map/ui/CurrentLocationFAB.tsx
  apps/knockdog/src/features/map/ui/ListFAB.tsx
  apps/knockdog/src/features/map/ui/MapView.tsx
  apps/knockdog/src/features/map/ui/PlaceMarker.tsx
  apps/knockdog/src/features/map/ui/RefreshFAB.tsx
  apps/knockdog/src/features/place-info/index.ts
  apps/knockdog/src/shared/store/index.ts
  apps/knockdog/src/shared/store/useMarkerState.ts
  apps/knockdog/src/shared/ui/naver-map/NaverMap.tsx
  apps/knockdog/src/shared/ui/naver-map/index.ts
  apps/knockdog/src/shared/utils/text.ts
  apps/knockdog/src/widgets/map-with-schools/index.ts
  apps/knockdog/src/widgets/map-with-schools/ui/MapWithSchools.tsx
  packages/icons/src/components/Currentlocation.tsx
  packages/ui/src/components/action-button/ActionButton.tsx
  packages/ui/src/components/bottom-sheet/index.ts
  packages/ui/src/components/floating-action-button/FloatingActionButton.stories.tsx
  packages/ui/src/components/floating-action-button/FloatingActionButton.tsx
Labels: app:web, packages:ui, packages:icons

#123 [Feature/컴포넌트 분리] 업체 상세 페이지 > 유치원 필수 정보 / 이 근처 다른 유치원 어때요? 부분 컴포넌트 분리
  apps/knockdog/next.config.js
  apps/knockdog/src/entities/dog-school/model/constants.ts
  apps/knockdog/src/entities/dog-school/ui/DogSchoolDetail.tsx
  apps/knockdog/src/entities/dog-school/ui/DogSchoolImageSwiper.tsx
  apps/knockdog/src/features/dog-school/ui/RecommendedDogSchoolCard.tsx
  apps/knockdog/src/features/dog-school/ui/RecommendedDogSchoolSection.tsx
Labels: app:web, packages:icons

#93 Feature/kddev 92 Swiper 구현
  apps/knockdog/app/company/[slug]/page.tsx
  apps/knockdog/package.json
  package.json
  packages/headless-ui/swiper/package.json
  packages/headless-ui/swiper/src/get-children.test.tsx
  packages/headless-ui/swiper/src/get-children.ts
  packages/headless-ui/swiper/src/index.ts
  packages/headless-ui/swiper/src/swiper.namespace.ts
  packages/headless-ui/swiper/src/swiper.tsx
  packages/headless-ui/swiper/src/use-swiper-context.ts
  packages/headless-ui/swiper/src/use-swiper-gesture.ts
  packages/headless-ui/swiper/src/use-swiper.ts
  packages/headless-ui/swiper/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/swiper/Swiper.tsx
  packages/ui/src/components/swiper/index.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Labels: ✨ feature, 🧪 test, app:web, packages:ui

#125 chore(knockdog): bottomNavigationBar 삭제(네이티브 구현)
  apps/knockdog/app/layout.tsx
  apps/knockdog/src/widgets/bottom-bar/index.ts
  apps/knockdog/src/widgets/bottom-bar/ui/BottomNavigationBar.tsx
  pnpm-lock.yaml
Labels: app:web
