Repository PetCampus-Inc/daeng_v2_front, pull requests merged in 2025-08, with the labels that each got.

#131 [Feature/kddev-119] ProgresssBar 컴포넌트 생성
  apps/knockdog/app/(auth)/signup/pet-details/page.tsx
  packages/headless-ui/progress/package.json
  packages/headless-ui/progress/src/index.ts
  packages/headless-ui/progress/src/progress-bar.namespace.ts
  packages/headless-ui/progress/src/progress-bar.tsx
  packages/headless-ui/progress/src/use-progress-bar-context.tsx
  packages/headless-ui/progress/src/use-progress-bar.ts
  packages/headless-ui/progress/src/use-progress.ts
  packages/headless-ui/progress/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/progress-bar/ProgressBar.stories.tsx
  packages/ui/src/components/progress-bar/ProgressBar.tsx
  packages/ui/src/components/progress-bar/index.ts
  pnpm-lock.yaml
Labels: app:web, packages:ui

#134 [Feature] 토글 (Headless) , 토글 버튼 생성
  apps/knockdog/app/(auth)/signup/pet-details/step1/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step2/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step3/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step4/page.tsx
  apps/knockdog/app/(auth)/signup/pet-details/step5/page.tsx
  packages/headless-ui/toggle/package.json
  packages/headless-ui/toggle/src/index.ts
  packages/headless-ui/toggle/src/toggle.namespace.ts
  packages/headless-ui/toggle/src/toggle.tsx
  packages/headless-ui/toggle/src/use-toggle-context.tsx
  packages/headless-ui/toggle/src/use-toggle.ts
  packages/headless-ui/toggle/tsconfig.json
  packages/headless-ui/utils/src/dom.ts
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/progress-bar/ProgressBar.tsx
  packages/ui/src/components/text-field/TextField.stories.tsx
  packages/ui/src/components/text-field/TextField.tsx
  packages/ui/src/components/toggle-button/ToggleButton.stories.tsx
  packages/ui/src/components/toggle-button/ToggleButton.tsx
  packages/ui/src/components/toggle-button/index.ts
  pnpm-lock.yaml
Labels: app:web, packages:ui

#138 [Feature] 체크박스 컴포넌트 생성
  packages/headless-ui/checkbox/package.json
  packages/headless-ui/checkbox/src/checkbox.namespace.ts
  packages/headless-ui/checkbox/src/checkbox.tsx
  packages/headless-ui/checkbox/src/index.ts
  packages/headless-ui/checkbox/src/use-checkbox-context.tsx
  packages/headless-ui/checkbox/src/use-checkbox.ts
  packages/headless-ui/checkbox/tsconfig.json
  packages/headless-ui/utils/src/dom.ts
  packages/ui/package.json
  packages/ui/src/components/checkbox/Checkbox.stories.tsx
  packages/ui/src/components/checkbox/Checkbox.tsx
  packages/ui/src/components/checkbox/index.ts
  pnpm-lock.yaml
Labels: packages:ui

#135 [Feature/KDDEV-132] 강아지 상세 프로필 등록 컴포넌트 분리
  apps/knockdog/app/(auth)/signup/pet-details/page.tsx
  apps/knockdog/src/features/dog-profile/index.ts
  apps/knockdog/src/features/dog-profile/model/breed.type.ts
  apps/knockdog/src/features/dog-profile/model/useBreedQuery.ts
  apps/knockdog/src/features/dog-profile/model/useBreedSearch.ts
  apps/knockdog/src/features/dog-profile/ui/BreedSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/DogBreedSheet.tsx
  apps/knockdog/src/features/dog-profile/ui/GenderSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/NeuteredSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/StepTitles.tsx
  apps/knockdog/src/features/dog-profile/ui/YearSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/YearSheet.tsx
  apps/knockdog/src/shared/ui/text-highlights/TextHighlights.tsx
  apps/knockdog/src/shared/ui/text-highlights/index.ts
  packages/ui/src/components/index.ts
Labels: app:web, packages:ui

#144 feat: 유치원 탐색 지도 축척별 집계마커/업체마커 표시 작업
  apps/knockdog/src/features/dog-school/api/dogschool-list-query.ts
  apps/knockdog/src/features/dog-school/index.ts
  apps/knockdog/src/features/dog-school/ui/DogSchoolCardSheet.tsx
  apps/knockdog/src/features/dog-school/ui/DogSchoolListSheet.tsx
  apps/knockdog/src/features/map/ui/AggregationMarker.tsx
  apps/knockdog/src/features/map/ui/MapView.tsx
  apps/knockdog/src/shared/api/get-query-client.ts
  apps/knockdog/src/shared/api/ky-client.ts
  apps/knockdog/src/shared/lib/geolocation/useGeolocationQuery.ts
  apps/knockdog/src/widgets/map-with-schools/config/map.ts
  apps/knockdog/src/widgets/map-with-schools/model/useMapState.ts
  apps/knockdog/src/widgets/map-with-schools/ui/MapWithSchools.tsx
  apps/knockdog/src/widgets/map-with-schools/utils/is.ts
  apps/knockdog/src/widgets/map-with-schools/utils/zoom-level.ts
Labels: app:web

#146 ci: github action 수정(labeler, chromatic)
  .github/labeler.yml
  .github/workflows/chromatic.yml
Labels: repo

#148 feat(headless-ui,ui): textarea 컴포넌트 생성
  apps/knockdog/src/features/dog-profile/model/useBreedSearch.ts
  apps/knockdog/src/features/dog-profile/ui/BreedSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/DogBreedSheet.tsx
  apps/knockdog/src/features/dog-profile/ui/GenderSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/NeuteredSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/YearSelector.tsx
  apps/knockdog/src/features/dog-profile/ui/YearSheet.tsx
  apps/knockdog/src/features/map/ui/PlaceMarker.tsx
  packages/headless-ui/checkbox/src/checkbox.namespace.ts
  packages/headless-ui/checkbox/src/checkbox.tsx
  packages/headless-ui/checkbox/src/index.ts
  packages/headless-ui/checkbox/src/use-checkbox-context.tsx
  packages/headless-ui/checkbox/src/use-checkbox.ts
  packages/headless-ui/textarea/package.json
  packages/headless-ui/textarea/src/dom.ts
  packages/headless-ui/textarea/src/index.ts
  packages/headless-ui/textarea/src/textarea.namespace.ts
  packages/headless-ui/textarea/src/textarea.tsx
  packages/headless-ui/textarea/src/use-textarea-context.ts
  packages/headless-ui/textarea/src/use-textarea.ts
  packages/headless-ui/textarea/tsconfig.json
  packages/headless-ui/utils/src/dom.ts
  packages/react-naver-map/src/utils/useIsomorphicLayoutEffect.ts
  packages/ui/package.json
  packages/ui/src/components/checkbox/Checkbox.stories.tsx
  packages/ui/src/components/checkbox/Checkbox.tsx
  packages/ui/src/components/checkbox/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/textarea/Textarea.stories.tsx
  packages/ui/src/components/textarea/Textarea.tsx
  packages/ui/src/components/textarea/index.ts
  pnpm-lock.yaml
Labels: app:web, packages:ui, packages:naver-map

#157 chore(mobile): turbo repo 프로젝트 의존성 분리
  apps/knockdog/package.json
  apps/mobile/README.md
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/bridges/appBridge.ts
  apps/mobile/components/BridgeDebugOverlay.tsx
  apps/mobile/components/Collapsible.tsx
  apps/mobile/components/HelloWave.tsx
  apps/mobile/components/ParallaxScrollView.tsx
  apps/mobile/components/ThemedView.tsx
  apps/mobile/components/WebViewScreen.tsx
  apps/mobile/components/navigation/TabNavigator.tsx
  apps/mobile/components/ui/IconSymbol.tsx
  apps/mobile/constants/apiUrl.ts
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/screens/StackScreen.tsx
  apps/mobile/screens/compare.tsx
  apps/mobile/screens/explore.tsx
  apps/mobile/screens/mypage.tsx
  apps/mobile/screens/save.tsx
  apps/mobile/stores/bridgeStore.ts
  apps/mobile/tsconfig.json
  apps/mobile/types/bridge.d.ts
  apps/mobile/types/svg.d.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: app:web, app:mobile, repo
